<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Project Mouse</title>
		<link rel="stylesheet" href="./bower_components/photon/dist/css/photon.min.css">
	</head>
	<body ng-app="mouse">
		<div class="window">
			<header class="toolbar toolbar-header" ng-controller="TopBarCtrl" style="-webkit-app-region: drag">
				<h1 class="title">Project Mouse</h1>
				<div class="toolbar-actions">
					<div class="btn-group">
						<button class="btn btn-default active">
						<span class="icon icon-home"></span>
						</button>
						<button class="btn btn-default">
						<span class="icon icon-folder" ng-click="dirChange()"></span>
						</button>
					</div>
					<button class="btn btn-default pull-right" ng-click="openOptions()">
					<span class="icon icon-cog"></span>
					</button>
				</div>
			</header>
			<div class="window-content">
				<div class="pane-group">
					<div class="pane pane-sm">
						<nav class="nav-group" ng-controller="NavCtrl">
							<h5 class="nav-group-title">Projects</h5>
							<span class="nav-group-item" ng-repeat="(key1, value) in projects">
								<span class="icon icon-folder"></span>
								<span ng-right ng-click="choose(value)">{{value.name}}</span>
								<span class="icon icon-github" ng-show="value.git.status.ahead" title="Ahead with {{value.git.status.ahead}} Commits"></span>
								<span class="icon icon-github-circle" ng-show="value.git.status.dirty"></span>
							</span>
						</nav>
					</div>
					<div class="pane" ng-controller="ContentCtrl">
						<ul class="list-group" ng-show="project">
							<li class="list-group-header" >
							<h1 ng-bind="project.node.name"></h1>
							<p>Author: <strong ng-bind="project.node.author.name"></strong></p>
							</li>
							<li class="list-group-header">
								<h3>Node Stuff</h3>
							</li>
							<li class="list-group-item">
								<div class="media-body">
									<strong>Node devDependencies</strong>
									<ul>
										<li ng-repeat="(key, value2) in project.node.devDependencies ">{{key}}</li>
									</ul>
									<strong>Node Dependencies</strong>
									<ul>
										<li ng-repeat="(key, value2) in project.node.dependencies ">{{key}}</li>
									</ul>
									<strong>Bower Dependencies</strong>
									<ul>
										<li ng-repeat="(key, value2) in project.bower.dependencies ">{{key}}</li>
									</ul>
									<strong>Git Log</strong>
									<ul>
										<li ng-repeat="(key, value) in project.git.commits"><em>{{value.authorName}}: </em>{{value.subject}}</li>
									</ul>
									<strong>Files</strong>
									<ul>
										<li ng-repeat="(key, value) in project.files" ng-if="!angular.isObject(value)"><span class="icon icon-newspaper"></span>{{value}}</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="./public/js/main.js"></script>
	</body>
</html>
